@model ML.Usuario
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/Login.css" />


<div class="section__container" id="section__container">
    @using (Html.BeginForm("ActualizarPassword", "CambiarPassword", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="login__container">
            <div class="title bg-dark text-center">
                <h3>Nueva contraseña</h3>
            </div>

            <div class="inputs bg-secondary" style="height: 250px;">
                <label for="password">Nueva contraseña:</label>
                <br />
                <input type="password" class="form-control" id="password" name="password" placeholder="Ingresa tu nueva contraseña">
                <br />

                <label for="password2">Confirma tu contraseña:</label>
                <br />
                <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirma tu nueva contraseña" onkeyup="CompararPassword();">

                @Html.TextBoxFor(Model => Model.Correo, new{@type="text", @class="form-control", @id="correo", @name="correo", @placeholder="Este es tu correo", @hidden=""})

                <div id="mensaje__error">
                </div>

            </div>
            <div class="buttons bg-dark">
                <button class="btn btn-danger" type="submit" id="btn__cambiar__password">Cambiar contraseña</button>
            </div>

        </div>
    }

    <div class="register__container">
        <div class="title bg-dark text-center">
            <h3>Informacion</h3>
        </div>
        <div class="text text-center bg-dark">
            <label>¿Aun no tienes una cuenta?, registrate dando clic al siguiente boton.</label>
            <button class="btn btn-primary" onclick="MostrarRegistro();">Registrar</button>
        </div>
    </div>
</div>

<script>

    function CompararPassword(){
        var password1 = document.getElementById("password");
        var password2 = document.getElementById("password2");
        var contenedorMensaje = document.getElementById("mensaje__error");
        var boton = document.getElementById("btn__cambiar__password");


        if (password2.value != password1.value) {
            contenedorMensaje.innerHTML = "<p style='color: red'>Las contraseñas no son iguales.</p>";
            boton.disabled = true;
        } else {
            contenedorMensaje.innerHTML = "";
            boton.disabled = false;

        }
    }

    

</script>